body{
    background-color: cadetblue;
    padding: 70px 0;
    text-align: center;
}
.cotent{
    display: flex;
    flex-direction: column;
}
.crash{
    color: #888;
    text-decoration: line-through;
    font-weight: bold;
}
.container{ 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    border-color: aliceblue;
    width: fit-content;
    margin: auto;    
}
.addition{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    border-color: aliceblue;
    width: 315px;
    margin: auto;
    margin-top: 6px;
    background-color: aliceblue;
    justify-content: space-between;
}
.desc{
    padding: 15px;
    text-align: left;
}

.buttons{
    padding: 10px;



}
.done{
    margin-right: 2px;
    background-color: #A0D8B3;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px #7ba589;
}
.done:hover{
    opacity: 0.98;
}
.done:active{
    background-color: #5d7a67;
    box-shadow: 0 0.5px rgb(28, 98, 28);
    transform: translateY(3.5px);
}
.clicked{
    background-color: #7ba589;
    box-shadow: 0 2px #5d7a67;
    transform: translateY(2px);
}

.del{
    margin-right: 2px;    
    background-color: #E06469;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px #ae4f52;
}
.del:hover{
    opacity: 0.98;
}
.del:active{
    background-color: #ae4f52;
    box-shadow: 0 2px #8e4043;
    transform: translateY(2px);
}


.add{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}
.label{
    background-color: cadetblue;
    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    margin: auto;
}
.bar{
    padding: 5px;
    margin: auto;
}
#int{
    width: 240px;
}
p{
    font-size: large;
    font-weight: bolder;
}
#addbtn{
    background-color: cadetblue;
    border-radius: 5px;
    width: 40px;
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgb(65, 108, 110);
}
#addbtn:hover{
    opacity: .9;
}
#addbtn:active{
    background-color: rgb(65, 108, 110);
    box-shadow: 0 2px rgb(49, 82, 84);
    transform: translateY(2px);
}

.btn{
    padding: 5px;
}
.ttl{
    color: aliceblue;
    text-shadow: 1px 1px 1px #000000;
}  
